@font-face {
  font-family: Karate;
  src: url('/src/fonts/Artbrush.ttf');
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, Karate, Poppins-Bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #ffa8b6;
  margin: 0px;
  margin-bottom: 25px;

  height: 100%;
  width: 100%;
  padding: 0px;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
