.box{
    /* display: flex; */

    /* justify-content: space-between; */

    /* min-width: 35%; */
    /* width: 400px;
    margin: 20px;
    background-color: aliceblue;
    padding: 4px 10px 4px 4px; */
    display: flex;

    background-color: aliceblue;
    border-radius: 2px;
    box-shadow: 5px 10px rgba(160, 234, 255); 
    /* box-shadow: 0 0 10px rgb(0 0 0 / 20%); */
    box-sizing: border-box;
    
    clear: both;
    margin: 10px;
    margin-right: 4px;
    padding: 10px;
    width: 400px;
}

.box_image{
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.box_name{
    /* float: right; */
    padding: 0;
    margin: 0;
    margin-top: 15px;
    /* height: 100px; */
    /* width: 100%; */
    text-transform: uppercase;

}

.box_text{
    margin-top: 12px;
    /* display: inline; */
}   

.box_link{
    text-decoration: none;
    color: lightseagreen
}