.box {
  /* display: flex; */

  /* justify-content: space-between; */

  /* min-width: 35%; */
  /* width: 400px;
    margin: 20px;
    background-color: aliceblue;
    padding: 4px 10px 4px 4px; */
  display: flex;

  position: relative;
  /* flex-basis: calc(50% - 50px);
flex-grow: 0;
flex-shrink: 0;
max-width: calc(50% - 50px); */
  /* height: 300px; */
  display: inline;
  /* justify-content: flex-start;
align-items: flex-start; */
  margin: auto;
  transition: 0.5s;
  flex-direction: column;
  width: auto;
  max-width: 600px;

  background-color: #9df9ef;
  border-radius: 20px;
  box-shadow: 5px 10px #edf7f6;
  box-sizing: border-box;
  margin: 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;

  padding: 10px;
  
}

.box_image {
  float: left;
  margin: 10px 10px 0 10px;
  width: 100px;
  height: 100px;
}

.box_name {
  float: flex;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  /* height: 100px; */
  /* width: 100%; */
  text-transform: uppercase;
}

.box_text {
  margin-top: 50px;
  margin-left: 6.5px;
  margin-right: 6.5px;

  font-weight: 500;
}

.box_link {
  text-decoration: none;
  color: lightseagreen;
}

.box:hover {
  transform: translateY(-10px) translateX(-2px);
}
