.info_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  /* flex: 1 0 auto; */
  z-index: -2;

  background-color: #51e2f5;
  padding-bottom: 25px;

}

